<div
  class="flex flex-col md:flex-row justify-between items-center bg-gray-200 p-4 rounded-lg"
>
  <div class="font-bold">Student Section</div>
  <div class="mt-2 md:mt-0 md:ml-auto flex items-center space-x-4">
    <div class="relative">
      <select
        class="flex items-center space-x-2 p-2 bg-gray-300 rounded-lg hover:bg-gray-400 transition"
        (change)="handleDropdownChange($event)"
      >
        <option>{{ user?.student_name }}</option>
        <option value="logoutUser">Logout</option>
      </select>
    </div>
  </div>
</div>

<div class="flex h-screen">
  <!-- Sidebar -->
  <div class="w-64 bg-gray-100 p-4 flex flex-col justify-between">
    <div class="space-y-4">
      <button
        (click)="navigateStudent('')"
        [class.bg-blue-500]="activeRoute === ''"
        [class.text-white]="activeRoute === ''"
        class="w-full p-3 rounded-lg text-left hover:bg-blue-400 hover:text-white transition"
      >
        Student Profile
      </button>

      <button
        (click)="navigateStudent('grades')"
        [class.bg-blue-500]="activeRoute === 'grades'"
        [class.text-white]="activeRoute === 'grades'"
        class="w-full p-3 rounded-lg text-left hover:bg-blue-400 hover:text-white transition"
      >
        Student Grades
      </button>

      <button
        (click)="navigateStudent('courses')"
        [class.bg-blue-500]="activeRoute === 'courses'"
        [class.text-white]="activeRoute === 'courses'"
        class="w-full p-3 rounded-lg text-left hover:bg-blue-400 hover:text-white transition"
      >
        Student Courses
      </button>

      <button
        (click)="navigateStudent('application')"
        [class.bg-blue-500]="activeRoute === 'application'"
        [class.text-white]="activeRoute === 'application'"
        class="w-full p-3 rounded-lg text-left hover:bg-blue-400 hover:text-white transition"
      >
        Student Applications
      </button>
    </div>
  </div>

  <!-- Content -->
  <div class="flex-grow p-4">
    <router-outlet></router-outlet>
  </div>
</div>
